.header-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(248, 203, 0, 1);
    height: 10rem;
    padding: 2%;
    width: 100%;
}

.header-top-container {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 1rem;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 9rem 0 20rem;
}