.navigation {
    width: 40%;
    display: inline-flex;
    justify-content: space-between;
}

.menu-item {
    margin-left: 5rem;
}

.main-menu {
    /* position: fixed; */
    display: flex;
    /* flex-direction: column; */
    /* text-align: left; */
    /* color: #fff; */
    /* top: 5rem; */
    /* flex: 1 */

}

.menu-item a{
    color: #000;
    /* font-size: 3rem; */
    text-decoration: none;
}